<div>
  <div class="modal-header" style="padding: 10px">
    <h4 *ngIf="type == 'success'">Success!</h4>
    <h4 *ngIf="type == 'fail'">Fail!</h4>
    <h4 *ngIf="type == 'confirm'">Confirm</h4>
  </div>
  <div class="modal-body">
    <p class="alert {{class}}" [innerHTML]="message"></p>
  </div>
  <div class="modal-footer" style="padding: 5px 20px">
    <div *ngIf="type == 'confirm'">
      <button (click)="close(true)" class="btn btn-primary" >Yes</button>
      <button (click)="close(false)" class="btn btn-primary" >No</button>
    </div>
    <div *ngIf="type != 'confirm'">
      <button (click)="close()" class="btn btn-primary" >Close</button>
    </div>
  </div>
</div>
