<div class="container-fluid col-md-10 col-offset-md-1">
  <p>Integrated <a target="_blank" href="https://angular.io/">AngularX</a>, <a target="_blank" href="https://v4-alpha.getbootstrap.com/getting-started/introduction/">Bootstrap4</a>, <a target="_blank" href="http://fontawesome.io/icons/">font-awesome</a>, <a target="_blank" href="https://lodash.com/docs">lodash</a>, <a target="_blank" href="https://ecomfe.github.io/echarts-doc/public/en/index.html">echarts</a>, <a target="_blank" href="https://ng-bootstrap.github.io/">ng-bootstrap</a> and other libraries, also provide some utilites and shared components, below are some examples:</p>

  <h3>Common components:</h3>
  <ul>
    <li>
      <h4>Loading</h4>
      <m-loading [text]="'loading'"></m-loading>
    </li>
    <li>
      <h4>Modal</h4>
      <button type="button" class="btn btn-success" (click)="modalSuccess()">Success</button>
      <button type="button" class="btn btn-danger" (click)="modalFail()">Fail</button>
      <button type="button" class="btn btn-warning" (click)="modalConfirm()">Confirm</button>
    </li>
    <li>
      <h4>
        <a href="https://ecomfe.github.io/echarts-doc/public/en/index.html">echarts</a>
      </h4>
      <p>A sample chart:</p>
      <div echarts [options]="chartOption" [loading]="!chartLoaded" class="echarts col-sm-10 offset-sm-1"></div>
    </li>
  </ul>

</div>
