<p>Integrated AngularX, Bootstrap4, font-awesome, lodash, echarts, ng-bootstrap and other libraries, also provide some utilites and shared components, below are some examples:</p>
<p>
  <a target="_blank" href="https://ng-bootstrap.github.io/">ng-bootstrap</a>
</p>
<ngb-alert type="success" [dismissible]="true">this is an alert</ngb-alert>

<p>
  <a target="_blank" href="http://fontawesome.io/icons/">font-awesome icons</a>
</p>

<p>Common components:</p>
<m-loading [text]="'haha'"></m-loading>

<p><a href="https://ecomfe.github.io/echarts-doc/public/en/index.html">echarts</a>: A sample chart:</p>
<div echarts [options]="chartOption" [loading]="!chartLoaded" class="echarts col-sm-10 offset-sm-1"></div>
