<div class="container-fluid col-md-10 col-offset-md-1">
  <p>Integrated <a target="_blank" href="https://angular.io/">AngularX</a>, <a target="_blank" href="https://v4-alpha.getbootstrap.com/getting-started/introduction/">Bootstrap4</a>, <a target="_blank" href="http://fontawesome.io/icons/">font-awesome</a>, <a target="_blank" href="https://lodash.com/docs">lodash</a>, <a target="_blank" href="https://ecomfe.github.io/echarts-doc/public/en/index.html">echarts</a>, <a target="_blank" href="https://ng-bootstrap.github.io/">ng-bootstrap</a> and other libraries, also provide some utilites and shared components, below are some examples:</p>

  <h3>Common components:</h3>
  <ul>
    <li>
      <h4>Loading</h4>
      <m-loading [text]="'loading'"></m-loading>
    </li>
    <li>
      <h4>Fullscreen</h4>
      <div m-fullscreen style="border: solid 1px; background-color: #fff; width: 300px; height: 200px;">
        <i class="fa fa-arrows-alt pull-right" style="margin: 5px;" m-fullscreen-trigger></i>
        <p>a test container</p>
      </div>
    </li>
    <li>
      <h4>Modal</h4>
      <button type="button" class="btn btn-success" (click)="modalSuccess()">Success</button>
      <button type="button" class="btn btn-danger" (click)="modalFail()">Fail</button>
      <button type="button" class="btn btn-warning" (click)="modalConfirm()">Confirm</button>
    </li>
    <li>
      <h4>
        <a target="_blank" href="https://github.com/valor-software/ng2-dragula">Dragular</a>
      </h4>
      <ul [dragula]='"bag1"'>
        <li>As soon as you start dragging an element, a <code>drag</code> event is fired</li>
        <li>The <code>shadow</code> event fires whenever the placeholder showing where an element would be dropped is moved to a different container or position</li>
        <li>A <code>drop</code> event is fired whenever an element is dropped anywhere other than its origin <em>(where it was initially dragged from)</em></li>
        <li class="">A <code>cancel</code> event is fired when an element would be dropped onto an invalid target, but retains its original placement instead</li>
      </ul>
      <hr/>
      <ul [dragula]='"bag2"'>
        <li>If the element gets removed from the DOM as a result of dropping outside of any containers, a <code>remove</code> event gets fired</li>
        <li class="">Whenever an element is cloned because <code>copy: true</code>, a <code>cloned</code> event fires</li><div>The <code>over</code> event fires when you drag something over a container, and <code>out</code> fires when you drag it away from the container</div>
        <li>Lastly, a <code>dragend</code> event is fired whenever a drag operation ends, regardless of whether it ends in a cancellation, removal, or drop</li>
      </ul>
    </li>
    <li>
      <h4>
        <a target="_blank" href="https://ecomfe.github.io/echarts-doc/public/en/index.html">echarts</a>
      </h4>
      <p>A sample chart:</p>
      <div echarts [options]="chartOption" [loading]="!chartLoaded" class="echarts col-sm-10 offset-sm-1"></div>

    </li>
  </ul>

</div>
